<div>
  <h2 id="page-heading" data-cy="CANTIDADXTIPOHeading">
    <span >Cantidad de equipos por tipo</span>

    
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div id ="chart" style="text-align:center">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="cANTIDADXTIPOS?.length === 0">
    <span jhiTranslate="tesisApp.cANTIDADXTIPO.home.notFound">No cANTIDADXTIPOS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cANTIDADXTIPOS && cANTIDADXTIPOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="tesisApp.cANTIDADXTIPO.cantidadTipo">Cantidad Tipo</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.cANTIDADXTIPO.tipo">Tipo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cANTIDADXTIPO of cANTIDADXTIPOS; trackBy: trackId" data-cy="entityTable">
          <td>{{ cANTIDADXTIPO.cantidadTipo }}</td>
          <td>{{ cANTIDADXTIPO.tipo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
