<div>
  <h2 id="page-heading" data-cy="LUBRICANTEXTIPOHeading">
    <span jhiTranslate="tesisApp.lUBRICANTEXTIPO.home.title">LUBRICANTEXTIPOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tesisApp.lUBRICANTEXTIPO.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lubricantextipo"
        [routerLink]="['/lubricantextipo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tesisApp.lUBRICANTEXTIPO.home.createLabel"> Create a new LUBRICANTEXTIPO </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lUBRICANTEXTIPOS?.length === 0">
    <span jhiTranslate="tesisApp.lUBRICANTEXTIPO.home.notFound">No lUBRICANTEXTIPOS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lUBRICANTEXTIPOS && lUBRICANTEXTIPOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.lUBRICANTEXTIPO.cantidadLubricante">Cantidad Lubricante</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.lUBRICANTEXTIPO.lubricante">Lubricante</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lUBRICANTEXTIPO of lUBRICANTEXTIPOS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lubricantextipo', lUBRICANTEXTIPO.id, 'view']">{{ lUBRICANTEXTIPO.id }}</a>
          </td>
          <td>{{ lUBRICANTEXTIPO.cantidadLubricante }}</td>
          <td>{{ lUBRICANTEXTIPO.lubricante }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lubricantextipo', lUBRICANTEXTIPO.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lubricantextipo', lUBRICANTEXTIPO.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lUBRICANTEXTIPO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
