<div>
  <h2 id="page-heading" data-cy="ChoferHeading">
    <span jhiTranslate="tesisApp.chofer.home.title">Chofers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tesisApp.chofer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chofer"
        [routerLink]="['/chofer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tesisApp.chofer.home.createLabel"> Create a new Chofer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chofers?.length === 0">
    <span jhiTranslate="tesisApp.chofer.home.notFound">No chofers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="chofers && chofers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="tesisApp.chofer.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.chofer.licencia">Licencia</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.chofer.no_licencia">No Licencia</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chofer of chofers; trackBy: trackId" data-cy="entityTable">
          <td>{{ chofer.nombre }}</td>
          <td jhiTranslate="{{ 'tesisApp.Licencia.' + chofer.licencia }}">{{ chofer.licencia }}</td>
          <td>{{ chofer.no_licencia }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/chofer', chofer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/chofer', chofer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(chofer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
