<div>
  <h2 id="page-heading" data-cy="EquipoHeading">
    <span jhiTranslate="tesisApp.equipo.home.title">Equipos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tesisApp.equipo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-equipo"
        [routerLink]="['/equipo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tesisApp.equipo.home.createLabel"> Create a new Equipo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="equipos?.length === 0">
    <span jhiTranslate="tesisApp.equipo.home.notFound">No equipos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="equipos && equipos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>

          <th scope="col"><span jhiTranslate="tesisApp.equipo.chapilla">Chapilla</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.equipo.clase">Clase</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.equipo.modelo">Modelo</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.equipo.chapa">Chapa</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.equipo.estado">Estado</span></th>
          <th scope="col"><span >Año</span></th>
          <th scope="col"><span >UEB</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.equipo.marca">Marca</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.equipo.motor">Motor</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.equipo.chofer">Chofer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos; trackBy: trackId" data-cy="entityTable">
          <td>{{ equipo.chapilla }}</td>
          <td jhiTranslate="{{ 'tesisApp.Clase.' + equipo.clase }}">{{ equipo.clase }}</td>
          <td>{{ equipo.modelo }}</td>
          <td>{{ equipo.chapa }}</td>
          <td jhiTranslate="{{ 'tesisApp.Estado.' + equipo.estado }}">{{ equipo.estado }}</td>
          <td>{{ equipo.anno }}</td>
          <td jhiTranslate="{{ 'tesisApp.UEB.' + equipo.ueb }}">{{ equipo.ueb }}</td>
          <td>{{ equipo.marca }}</td>
          <td>
            <div *ngIf="equipo.motor">
              <a [routerLink]="['/motor', equipo.motor?.id, 'view']">{{ equipo.motor?.codigo }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="equipo.chofer">
              <a [routerLink]="['/chofer', equipo.chofer?.id, 'view']">{{ equipo.chofer?.nombre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/equipo', equipo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/equipo', equipo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(equipo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
