<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-chofer-heading" data-cy="ChoferCreateUpdateHeading" jhiTranslate="tesisApp.chofer.home.createOrEditLabel">
        Create or edit a Chofer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

       
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tesisApp.chofer.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tesisApp.chofer.licencia" for="field_licencia">Licencia</label>
          <select class="form-control" name="licencia" formControlName="licencia" id="field_licencia" data-cy="licencia">
            <option [ngValue]="null">{{ 'tesisApp.Licencia.null' | translate }}</option>
            <option value="A_1">{{ 'tesisApp.Licencia.A_1' | translate }}</option>
            <option value="A">{{ 'tesisApp.Licencia.A' | translate }}</option>
            <option value="B">{{ 'tesisApp.Licencia.B' | translate }}</option>
            <option value="C_1">{{ 'tesisApp.Licencia.C_1' | translate }}</option>
            <option value="C">{{ 'tesisApp.Licencia.C' | translate }}</option>
            <option value="D_1">{{ 'tesisApp.Licencia.D_1' | translate }}</option>
            <option value="D">{{ 'tesisApp.Licencia.D' | translate }}</option>
            <option value="E">{{ 'tesisApp.Licencia.E' | translate }}</option>
            <option value="F">{{ 'tesisApp.Licencia.F' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tesisApp.chofer.no_licencia" for="field_no_licencia">No Licencia</label>
          <input
            type="text"
            class="form-control"
            name="no_licencia"
            id="field_no_licencia"
            data-cy="no_licencia"
            formControlName="no_licencia"
          />
          <div *ngIf="editForm.get('no_licencia')!.invalid && (editForm.get('no_licencia')!.dirty || editForm.get('no_licencia')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('no_licencia')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
