<div>
  <h2 id="page-heading" data-cy="RecursoHeading">
    <span jhiTranslate="tesisApp.recurso.home.title">Recursos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tesisApp.recurso.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recurso"
        [routerLink]="['/recurso/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tesisApp.recurso.home.createLabel"> Create a new Recurso </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recursos?.length === 0">
    <span jhiTranslate="tesisApp.recurso.home.notFound">No recursos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recursos && recursos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="tesisApp.recurso.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.recurso.um">Um</span></th>
          <th scope="col"><span jhiTranslate="tesisApp.recurso.tipo">Tipo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recurso of recursos; trackBy: trackId" data-cy="entityTable">
          <td>{{ recurso.nombre }}</td>
          <td jhiTranslate="{{ 'tesisApp.UnidadDeMedida.' + recurso.um }}">{{ recurso.um }}</td>
          <td jhiTranslate="{{ 'tesisApp.TipoRecurso.' + recurso.tipo }}">{{ recurso.tipo }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/recurso', recurso.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/recurso', recurso.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(recurso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
