<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="asignacion">
      <h2 data-cy="asignacionDetailsHeading"><span jhiTranslate="tesisApp.asignacion.detail.title">Asignacion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ asignacion.id }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.asignacion.fecha">Fecha</span></dt>
        <dd>
          <span>{{ asignacion.fecha | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.asignacion.cantidad">Cantidad</span></dt>
        <dd>
          <span>{{ asignacion.cantidad }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.asignacion.chofer">Chofer</span></dt>
        <dd>
          <div *ngIf="asignacion.chofer">
            <a [routerLink]="['/chofer', asignacion.chofer?.id, 'view']">{{ asignacion.chofer?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="tesisApp.asignacion.recurso">Recurso</span></dt>
        <dd>
          <div *ngIf="asignacion.recurso">
            <a [routerLink]="['/recurso', asignacion.recurso?.id, 'view']">{{ asignacion.recurso?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/asignacion', asignacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
