<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cantidadXUEB">
      <h2 data-cy="cantidadXUEBDetailsHeading"><span jhiTranslate="tesisApp.cantidadXUEB.detail.title">Cantidad XUEB</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cantidadXUEB.id }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.cantidadXUEB.cantidadModelo">Cantidad Modelo</span></dt>
        <dd>
          <span>{{ cantidadXUEB.cantidadModelo }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.cantidadXUEB.ueb">Ueb</span></dt>
        <dd>
          <span>{{ cantidadXUEB.ueb }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cantidad-xueb', cantidadXUEB.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
