<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cOMBUSTIBLEXUEB">
      <h2 data-cy="cOMBUSTIBLEXUEBDetailsHeading"><span jhiTranslate="tesisApp.cOMBUSTIBLEXUEB.detail.title">COMBUSTIBLEXUEB</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cOMBUSTIBLEXUEB.id }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.cOMBUSTIBLEXUEB.cantidadCombustibleUEB">Cantidad Combustible UEB</span></dt>
        <dd>
          <span>{{ cOMBUSTIBLEXUEB.cantidadCombustibleUEB }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.cOMBUSTIBLEXUEB.ueb">Ueb</span></dt>
        <dd>
          <span>{{ cOMBUSTIBLEXUEB.ueb }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/combustiblexueb', cOMBUSTIBLEXUEB.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
