<div>
  <h2 id="page-heading" data-cy="MotorHeading">
    <span >Motores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tesisApp.motor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-motor"
        [routerLink]="['/motor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tesisApp.motor.home.createLabel"> Create a new Motor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="motors?.length === 0">
    <span jhiTranslate="tesisApp.motor.home.notFound">No motors found</span>
  </div>
  <div  class="table-responsive" id="entities" *ngIf="motors && motors.length > 0" >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col" ><span>Código</span></th>
          <th scope="col" ><span jhiTranslate="tesisApp.motor.estado">Estado</span></th>
          <th scope="col" ><span jhiTranslate="tesisApp.motor.marca">Marca</span></th>
          <th scope="col" ></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let motor of motors; trackBy: trackId" data-cy="entityTable">
          <td>{{ motor.codigo }}</td>
          <td jhiTranslate="{{ 'tesisApp.Estado.' + motor.estado }}">{{ motor.estado }}</td>
          <td>{{ motor.marca }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/motor', motor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/motor', motor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(motor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
