<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chofer">
      <h2 data-cy="choferDetailsHeading"><span jhiTranslate="tesisApp.chofer.detail.title">Chofer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chofer.id }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.chofer.nombre">Nombre</span></dt>
        <dd>
          <span>{{ chofer.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.chofer.licencia">Licencia</span></dt>
        <dd>
          <span jhiTranslate="{{ 'tesisApp.Licencia.' + chofer.licencia }}">{{ chofer.licencia }}</span>
        </dd>
        <dt><span jhiTranslate="tesisApp.chofer.no_licencia">No Licencia</span></dt>
        <dd>
          <span>{{ chofer.no_licencia }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chofer', chofer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
